.is-complete {
    text-decoration: line-through;
}

.todo {
    background-color: rgba(172, 168, 164, 0.959);
    opacity: 0.9;
    border-radius: 4px;
    padding: 5px;
    margin: 15px
}

.btn {
    float: right
}

input[type='checkbox'] {

    width:30px;
    height:30px;
    margin: none;
}

p {
    font-size: 1.5em;
}

